#body{
    box-sizing: border-box;
    margin: 0px;
    background-color: white;
    height: 100vh;
    
}

/*HEADER*/
#header_info{
    font-family: 'Work Sans', sans-serif; 
    box-sizing: border-box;
    /*porque este height me es mas grande que el vh*/
    height: 55vh;
    width: 100%;
    background: url(Imagenes/fondo_info.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 20px gray;
     
    
}
#header_productos{
    font-family: 'Work Sans', sans-serif; 
    box-sizing: border-box;
    /*porque este height me es mas grande que el vh*/
    height: 55vh;
    width: 100%;
    background: url(Imagenes/fondo_productos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 20px gray;
    
}
#header_descargas{
    font-family: 'Work Sans', sans-serif; 
    box-sizing: border-box;
    /*porque este height me es mas grande que el vh*/
    height: 55vh;
    width: 100%;
    background: url(Imagenes/fondo_info.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 20px gray;
    
}
    #header-nav{
        font-family: 'Work Sans', sans-serif; 
        box-sizing: border-box;
        margin: 0px;
        height: 10vh;
    }
        .nav{
            display: flex;
            justify-content:space-between;
        }
            .logo{
                box-sizing: border-box;
                margin-left: 2vw;
                height: 10vh;
                width: 12vw;
                background: url(Imagenes/Logo\ libor\ nuevo.png) center;
                background-size: contain;
                background-repeat: no-repeat;
                }
            .menu{
                box-sizing: border-box;
                height: 10vh; 
            }
                .lista{
                    box-sizing: border-box;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    height: 100%;
                    display: flex;
                    align-items: center;   
                }
                    li{
                        float: left;
                    }
                        li a {
                            box-sizing: border-box;
                            display: block;
                            color: black;
                            text-align: center;
                            padding: 14px 16px;
                            text-decoration: none;
                            height: 100%;
                        }
                            li a:hover{
                                box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
                                color: white;
                            }
                            /*
                            .dropdown-content {
                                display: none;
                                position: absolute;
                                min-width: 160px;
                                box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
                                z-index: 1;
                            }   
                            .dropdown-content a {
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                                text-align: left;
                            }
                            
                            .dropdown-content a:hover {
                            }
                            
                            .dropdown:hover .dropdown-content {
                                display: block;
                            }*/
#header-info{
    box-sizing: border-box;
    height: 45vh;
    padding-top: 18vh;
    font-family: 'Work Sans', sans-serif;
    color: white;
}
    .titulo{
        box-sizing: border-box;
        width: fit-content;
        margin: auto;
        font-size: 6vh;
    }
    .subtitulo{
        box-sizing: border-box;
        width: fit-content;
        margin: auto;
        margin-top: 2vh;

    }
                            
#main_productos{
    
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: fit-content;
    font-family: 'Work Sans', sans-serif; 
    
}
#main_info{
    
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 100vh;
    font-family: 'Work Sans', sans-serif; 
}
#main_descargas{
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 75vh;
    font-family: 'Work Sans', sans-serif; 
}
    .items{   
        box-sizing: border-box;
        height: 20vh;
        width: 73%;
        margin: auto;
    }
        button{
            box-sizing: border-box;
            font-family: 'Work Sans', sans-serif;
        }

        #container_productos_contador{
            
            box-sizing: border-box;
            height: fit-content;
            width: 20%;
            margin-left: 0%;
            color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0%;

        }
            #contador {
                
                box-sizing: border-box;
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                padding: 0%;
                
                
            }
                #dias,#horas,#minutos,#segundos{
                    padding-left: 0%;}

        #container_productos_general{
            
            box-sizing: border-box;
            display: flex;
            width: 85%;
            margin: auto;
            justify-content: space-evenly;
            font-family: 'Work Sans', sans-serif; 
        }
            #container_catalogo_productos,#container_carrito{
                
                box-sizing: border-box;
                height: fit-content;
                width: fit-content;
                font-family: 'Work Sans', sans-serif;
                justify-content: space-between; 
            }
                h2{
                    box-sizing: border-box;
                    margin-top: 0px;
                    margin-bottom: 2vh;
                    font-family: 'Work Sans', sans-serif; 
                }
                .producto {
                    
                    border: solid lightgray 1px;
                    border-radius: 10px;
                    box-sizing: border-box;
                    padding: 10px 0px 10px 30px;
                    margin-bottom: 10px;
                }
                #info_producto{
                    
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                }
                    #foto_producto{
                        
                        box-sizing: border-box;
                        height: fit-content;
                        width: fit-content;
                    }
                    #descripcion_producto{
                        
                        box-sizing: border-box;
                        padding-left: 2%;
                        padding-top: 2%;
                    }
                        #descuentos{
                            display: flex;
                        }
                    .button_carrito{
                        box-sizing: border-box;
                        border-radius: 5px;
                        background-color: orangered;
                        color: black;
                        padding: 5px 10px;
                        margin-left: 5px;
                        border: none;
                        cursor: pointer;
                    }
                    .button_carrito:hover {
                        box-sizing: border-box;
                        background-color: #45a049;
                    }
                #container_carrito{
                    box-sizing: border-box;
                    position: sticky;
                    top: 0;
                }
                #carrito {
                        border: solid lightgray 1px;
                        border-radius: 5px;
                        box-sizing: border-box;
                        padding: 10px 10px 10px 20px;
                        margin-bottom: 20px;
                        width: 100%;
                        height: fit-content;
                        
                    }
            
    #container_descargas{
        box-sizing: border-box;
        height: 75vh;
        width: 73%;
        margin: auto;
        display: flex;
        text-align: center; 
        font-family: 'Work Sans', sans-serif;   
    }
        .container_catalogo{
            border: solid lightgray 2px;
            border-radius: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:start;
            height: 40%;
            width: 40%;
            margin: auto;
            margin-top: 5%;
            overflow: auto;
        }
        .container_precios{
            border: solid lightgray 2px;
            border-radius: 10px;
            box-sizing: border-box;
            background-color:orange;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:start;
            height: 40%;
            width: 40%;
            margin: auto;
            margin-top: 5%;
            overflow: auto;
        }
            .catalogo_titulo{
                
                box-sizing: border-box;
                margin-top: 0%;
                margin-left: 8%;
                margin-bottom: 2%;
                font-size: xx-large;
            }
            .main-hr-1 {
                
                box-sizing: border-box;
                width: 30%;
                margin-left: 8%;
                margin-bottom: 2%;
            }
                .main-hr-1 hr{
                    border-color: #f666;
                }  
            .catalogo_texto{
                
                box-sizing: border-box;
                margin-left: 8%;
                margin-bottom: 2%;
                text-align: left;
                
            }
            .catalogo_descarga{
                
                box-sizing: border-box;
                margin-left: 8%;
                
                
            }


/*FOOTER*/
#footer{
    
    box-sizing: border-box;
    width: 100%;
    height: 45vh;
    background-color: #181818;
    box-shadow: 0px -5px 20px gray;
}
    .footer-container{
        
        box-sizing: border-box;
        display: flex;
        width: 73%;
        margin: auto;
        height: 100%;
    }   
        .row-1{
            
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            background-color: #181818;
            width: 25%;
            font-size: 140%; 
            margin-top: 3%;
            margin-bottom: 3%;
            overflow: hidden;
        }
            .logo-footer {
                
                box-sizing: border-box;
                height: 33.3%;
                background: url(Imagenes/Logo\ libor\ nuevo.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .info-footer {
                
                box-sizing: border-box;
                height: fit-content;
                margin-top: 5%;
                letter-spacing: 1px;
                line-height: 1.5;
            }
                    a {
                        text-decoration: none;
                        color: #777777;
                    }
        .row-2{
            
            box-sizing: border-box;
            width: 75%;
            display: flex;
            overflow-y: hidden;
            margin-top: 3%;
            margin-bottom: 3%;
            
        }
            .footer-row-2-espacio{
                
                box-sizing: border-box;
                width: 33.3%;
            }
            .footer-row-2-info{
                
                box-sizing: border-box;
                width: 33.3%;
                overflow-y: auto;
            }
                .footer-row-2-info-titulo{
                    
                    box-sizing: border-box;
                    font-size: 140%;
                    letter-spacing: 1px;
                    line-height: 1.5;
                    color: lightgrey;
                }
                .footer-row-2-info-menu{
                    
                    box-sizing: border-box;
                    font-size: 140%;
                    letter-spacing: 1px;
                    line-height: 1.5;
                    color: #777777;
                }
            
/*SCROLLTOP*/ 
.scroll-top{
   
    position: fixed;
    bottom: 4%;
    right: 4%;
    height: fit-content;
    width: fit-content;
}   
    .material-symbols-outlined{
        
        padding: 10px;
        color: black;
        font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 100p;
    }
        .material-symbols-outlined:hover{
            background-color: orange;
            border-radius: 10% 50%;
            transition-duration: 0.3s;
        }
















/*RESPONSIVE*/
@media (max-width: 480px) /*solo va a aplicar estos cuando sea menor a 480px*/{
    #header_info,#header_productos,#header_descargas {
                height: 50vh;
                width: 100%;
                
        }
    .logo {
                display: none;
    }
    .menu {
              width: 100%; 
              font-size: 2vh;
    }
    /*main*/
    #main_productos{
        
        box-sizing: border-box;
        margin-top: 3%;
        margin-bottom: 3%;
        width: 90%;
        margin: auto;
        height: fit-content;
        font-family: 'Work Sans', sans-serif; 
        
    }
    #container_productos_general{
        width: fit-content;
        margin: auto;
    }
        #container_catalogo_productos,#container_carrito{
            font-size: 2vh;
            width: fit-content;
        }
        .producto {
            padding: 0px;
            width: fit-content;
        }
        #info_producto{
            display: flex;
            flex-direction: column;
            width: 100%;
            
        }
        #container_productos_contador{
            margin-left: 20px;
        }
        #dias,#horas,#minutos,#segundos{
            padding-left: 10px;}
        #container_carrito{
            margin-left: 5px;
        }
        #carrito {
                padding: 5px 5px 15px 5px;
                margin-bottom: 0px;
                width: fit-content;
            }
    /*main descargas*/
    #main_descargas{
        border: solid red 1px;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100vw;
        height: 70vh; 
    }
    #container_descargas{
        border: solid red 1px;
        box-sizing: border-box;
        height: fit-content;
        width: 80vw;
        display: flex;
        flex-direction: column;
        text-align: center;    
    }
        .container_catalogo{
            height: fit-content;
            width: fit-content;
            margin: auto;
            margin-top: 5%;
            overflow: auto;
        }
        .container_precios{
            height: fit-content;
            width:fit-content;
        }
            .catalogo_titulo{
                box-sizing: border-box;
                margin-top: 0%;
                margin-left: 8%;
                margin-bottom: 2%;
                font-size: 4vh;
            }
            .main-hr-1 {
                
                box-sizing: border-box;
                width: 30%;
                margin-left: 8%;
                margin-bottom: 2%;
            }
            .catalogo_texto{
                box-sizing: border-box;
                margin-left: 8%;
                margin-bottom: 2%;
                text-align: left;
                font-size: 2vh;
                
            }
            .catalogo_descarga{
                box-sizing: border-box;
                margin-left: 8%;
                
                
            }


    /*footer*/
            .footer-container {
                width: 90%;
                flex-direction: row; 
            }
            .row-1{
                font-size: 2vh;
                width: 100%;
            }
            .row-2 {
                width: 100%;
                justify-content: right;
            }
            .footer-row-2-espacio{
                display: none;
            }
            .footer-row-2-info{
                box-sizing: border-box;
                width: 80%;
                overflow-y: auto;
            }
            .footer-row-2-info-titulo{
                font-size: 3vh;
            }
            .footer-row-2-info-menu{
                font-size: 2vh;
                letter-spacing: 2px;
            }
            .scroll-top{
                display: none;
            }
        }

@media (max-width: 1000px) /*solo va a aplicar estos cuando sea menor a 480px*/{
    #header_info,#header_productos,#header_descargas {
                height: 50vh;
                width: 100%;
                
        }
    .logo {
                display: none;
    }
    .menu {
              width: 100%; 
              font-size: 2vh;
    }
    /*main*/
    #main_productos{
        
        box-sizing: border-box;
        margin-top: 3%;
        margin-bottom: 3%;
        width: 90%;
        margin: auto;
        height: fit-content;
        font-family: 'Work Sans', sans-serif; 
        
    }
    #container_productos_general{
        width: fit-content;
        margin: auto;
    }
        #container_catalogo_productos,#container_carrito{
            font-size: 2vh;
            width: fit-content;
        }
        .producto {
            padding: 0px;
            width: fit-content;
        }
        #info_producto{
            display: flex;
            flex-direction: column;
            width: 100%;
            
        }
        #container_productos_contador{
            margin-left: 20px;
        }
        #dias,#horas,#minutos,#segundos{
            padding-left: 10px;}
        #container_carrito{
            margin-left: 5px;
        }
        #carrito {
                padding: 5px 5px 15px 5px;
                margin-bottom: 0px;
                width: fit-content;
            }
    /*main descargas*/  
    /*footer*/
            .footer-container {
                width: 90%;
                flex-direction: row; 
            }
            .row-1{
                font-size: 2vh;
                width: 100%;
            }
            .row-2 {
                width: 100%;
                justify-content: right;
            }
            .footer-row-2-espacio{
                display: none;
            }
            .footer-row-2-info{
                box-sizing: border-box;
                width: 80%;
                overflow-y: auto;
            }
            .footer-row-2-info-titulo{
                font-size: 3vh;
            }
            .footer-row-2-info-menu{
                font-size: 2vh;
                letter-spacing: 2px;
            }
            .scroll-top{
                display: none;
            }
        }