

body{
    margin: 0px;
    background-color: lightgray;
    }
#header{
    background-color: #ff6600;
}
    #barra_superior{
    display: flex;
    } 
        .logo{
            padding: 7px 0px 5px 200px;
        }
        .buscador{
                margin: 0px;
                padding: 20px 100px 10px 160px; 
        }
            .barra_buscador{
                margin: 0px ;
                padding: 8px;
                border: 0px;
                border-radius: 5px;
                font-size: 20px;
                
            }
        
            .barra_buscador{
                background-color: lightgray;
                box-sizing:content-box;
            }
        .contacto{
            padding: 23px 0px 0px 42px;
            text-align: left;
        }
            .contacto a{
                color: black
            }


    #barra_inferior{

    }





#menu{
    display: flex;
    background-color:#333; 
    list-style-type: none; 
    margin: 0px; 
    padding-left: 200px; 
    overflow: hidden;
    }

.bi {padding: 0px; 
    float: left;
    }
  
.bi a { 
    text-transform:uppercase;
    display:block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:#ff6600;
  }
