/*





*/
*{border: solid red 1px}
body{
    margin: 0px;
    background-color: lightgray;
    }
#header{
    background-color: #ff6600;

}
    #barra_superior{
    display: flex;
    } 
        .logo{
            padding: 6px 0px 4px 150px;
        }
        .buscador{
                margin: 0px;
                padding: 21px 180px 10px 180px; 
        }
            .barra_buscador{
                margin: 0px ;
                padding: 8px;
                border: 0px;
                border-radius: 10px;
                font-size: 20px;
                background-color:lightgray;   
            }
        .contacto{
            padding: 23px 0px 0px 42px;
            text-align: left;
        }
            .contacto a{
                color: black;
                text-decoration: none;
            }


    #barra_inferior{
        display:flex;
        background-color: #333;
    }
        #menu{
            list-style-type: none; 
            margin: 0px; 
            padding-left: 140px; 
            overflow: hidden;
            }
            .bi {
                float: left;
                }
            .bi a { 
                text-transform: uppercase;
                padding: 10px 10px ;
                display:block;
                color: white;
                text-align: center;
                text-decoration: none;
                }
              li a:hover {
                background-color: black;
                }

        #funciones{
            list-style-type: none;
            margin: 0px 0px 0px 220px ;
            padding-right:  42px;
        }
            .bf{
                
                float:right;
            }
            .bf a {
                text-transform:uppercase;
                padding: 10px 10px 10px 10px;
                display: block;
                color: white;
                text-align: center;
                text-decoration: none;
            }
            .bf a:hover{
                background-color: black;
            }






  

  
  
