/*
header
    <div> barra superior 
        <div> logo
        <div> buscador
        <div> contacto
    <div> barra inferior
        <div> menu
        <div> funciones  


 .bi {
                        float: left;
                        }
                    .bi a { 
                        
                    li a:hover {
                        background-color: black;
                        }


                    .bf{
                        float:right;
                        }
                    .bf a {
                        text-transform: uppercase;
                        padding: 0px;
                        display: block;
                        color: white;
                        text-align: center;
                        text-decoration: none;
                        }
                .bf a:hover {
                    background-color: black;
                    }




*/

body{
    margin: 0px;
    background-color: white;
    }

    
#header{
    position: fixed;
    width: 100%;
    background-color: #f60;
    }
     
    #barra_superior{
        width: 100%;
        display: flex;
        
        } 

        .logo{
            margin: 11px 0px 0px 170px ;
            }

        .buscador{
            margin: 8px 0px 0px 50px ; 
                }
                

            .barra_buscador{
                margin: 0px ;
                padding: 12px;
                border: 0px;
                border-radius: 3px;
                font-size: 15px;
                background-color:white ;   
                }
                
        .contacto{
            margin: 10px 170px 0px 197px;
            }
            .contacto a{
                color: black;
                text-decoration: none;
                }


    #barra_inferior{
        margin: 12px 0px 0px 0px;
        padding: 0px;
        width:100%;
        display:flex;
        background-color: #333;
        }
        #menu {
            margin: 0px 0px 0px 170px;
            padding: 0px;
            background-color: #333;
            list-style-type: none;
            overflow: hidden;
            }
            .m{
                float: left;
                }
          
            .m a {
                display:block;
                padding: 10px;
                text-align: center;
                color: white;
                text-decoration: none;
                }
          
            .m a:hover {
                background-color:black;
                }
        #funciones{
            margin: 0px 0px 0px 350px;
            padding: 0px;
            background-color: #333;
            list-style-type: none;
            overflow: hidden;
            }
            .f{
                float: left;
                }
          
            .f a {
                display:block;
                padding: 10px;
                text-align: center;
                color: white;
                text-decoration: none;
                }
          
            .f a:hover {
                background-color: black;
                }
           
            






  

  
  
