/*
header
    <div> barra superior 
        <div> logo
        <div> buscador
        <div> contacto
    <div> barra inferior
        <div> menu
        <div> funciones  




*/

body{
    margin: 0px;
    background-color: lightgray;
    }
#header{
    width: 100%;
    position:fixed;
    background-color: #ff6600;
}
    #barra_superior{
        width: 100%;
    position: fixed;
    display: flex;
    background-color: #ff6600;
    } 
        .logo{
            padding: 6px 0px 4px 100px;
        }
        .buscador{
                margin: 0px;
                padding: 8px 0px 0px 0px ; 
        }
            .barra_buscador{
                margin: 0px ;
                padding: 8px;
                border: 0px;
                border-radius: 10px;
                font-size: 20px;
                background-color:lightgray;   
            }
        .contacto{
            padding: 23px 0px 0px 42px;
            text-align: left;
        }
            .contacto a{
                color: black;
                text-decoration: none;
            }


    #barra_inferior{
        width: 100%;
        position: fixed;
        display:flex;
        background-color: #333;
    }
    /*Menu*/    #menu{
                        list-style-type: none; 
                        margin: 0px; 
                        padding-left: 100px; 
                        overflow: hidden;
                        }
                    .bi {
                        float: left;
                        }
                    .bi a { 
                        text-transform: uppercase;
                        padding: 10px 10px ;
                        display:block;
                        color: white;
                        text-align: center;
                        text-decoration: none;
                        }
                    li a:hover {
                        background-color: black;
                        }

/*Funciones*/   #funciones{
                        list-style-type: none;
                        margin: 0px 0px 0px 0px;
                        padding-left: 249px;
                        }
                        .bf{
                            float:right;
                            }
                        .bf a {
                            text-transform: uppercase;
                            padding: 10px;
                            display: block;
                            color: white;
                            text-align: center;
                            text-decoration: none;
                            }
                    .bf a:hover {
                        background-color: black;
                        }






  

  
  
