body{
    margin: 0px;
    background-image: url("Imagenes/fondo\ 3.jpeg");
    background-size: cover;
    }
#header{
    background-color: #ff6600;
}

.logo{
    margin:0; 
    width: 250px;
    padding: 0px 50px;
    
}
#titular {
    text-align: center;
    color: #ff6600;
}

.lista_menu{
    background-color:#ff6600;
    list-style-type: none;
    margin: 0px;
    padding-left: 340px;
    overflow: hidden;
}

li {
    padding: 0px;
    float: left;
  }
  
li a {
    text-transform:none;
    display:block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:#ff6600;
  }
